<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; {{ settings.site_name }} 2017</p>
    </div>
    <!-- /.container -->
</footer>

{{ include('components/libraries.twig') }}

</body>
</html>